<!DOCTYPE HTML>
<HTML lang ="en" style="background-color: white;">
<meta charset="UCF-8">
<link rel="stylesheet" href="app.component.css">



<mat-card>
  <p style="text-align: center;">This will be the top navigation bar in the original website</p>
</mat-card>

<body class="body" style="background-color: white; margin-left: 10%; margin-right: 10%; margin-bottom: 2%;">

  <div style="width: 100%; margin: 2%;">
    <h1 class="title" style="font-weight: bolder; font-size: 350%; margin-top: 3%;">Summer 2021 Pick Information</h1>
  </div>

  <div class="grid1">
    <!--This is start of Panel 1!-->
          <div>
            <mat-expansion-panel class="panel1" >
              <mat-expansion-panel-header>
                <mat-panel-title style="color: white; font-size: larger;">
                    Accessing BidWeb
                </mat-panel-title>
              </mat-expansion-panel-header>
  
                <div>
                  <a mat-raised-button style="width: 90%; height: 90%; margin-bottom: 6%; font-size: larger;" href="https://bw.mbta.com/BidWeb2013/" target="_blank">BidWeb Website</a>
                </div>
  
                <mat-divider style="margin-bottom: 10%;"></mat-divider>
  
                <div>
                  <h2 style="font-weight: bold; color: black;">Summer 2021 BidWeb Password Code of the Pick is: SuM</h2>
                    <p style="color: white;">(Please note that this is case sensitive)</p>
                </div>
                <div>
                  <h4 style="font-weight: bold; color: white;">Note: Your badge number is required for your username (no longer required for your password).</h4>
                </div>
                <div>
                  <h4 style="font-weight: bold; color: white;">See the BidWeb Password Formula section below for more information on how your BidWeb password works.</h4>
                </div>
  
              <mat-divider style="margin: 10%;"></mat-divider>
  
                <div>
                  <h2 style="font-weight: bold; color: black;">BidWeb Password Formula</h2>
                  <p style="color: white;">The first time you sign in this pick:</p>
                  <li style="margin-left: 3%; color: white;">Username: 5 digits or more of your employee badge number.</li>
                  <li style="margin-left: 3%; font-weight: bold; color: white;">Your initial password: your home zip code + SuM (the Summer 2021 pick code).</li>
                  <img style="margin-top: 2%;" id = pic src ="https://cdn.mbta.com/sites/default/files/styles/max_650x650/public/media/2021-03/Screen%20Shot%202021-03-24%20at%2011.03.29%20AM_0.png?itok=nQlNUNh2" width="90%" height="90%">
                </div>
  
              <mat-divider style="margin: 10%;"></mat-divider>
  
                <div>
                  <h2 style="font-weight: bold; color: black;">Make Sure BidWeb Works on Your Computer</h2>
                    <p style="color: white;">Before your Area's pick begins, we recommend going to the BidWeb site on your device, browser, and network, to make sure it works with your computer.</p>
                </div>
                <div>
                  <h4 style="font-weight: bold; color: white;">However, please do not log into BidWeb before 12 PM the day your Area's pick begins.</h4>
                </div>
                <div>
                  <li style="color: white;">Visit bw.mbta.com on your computer or a tablet</li>
                  <li style="color: white;">You should see a blue page that says “BidWeb not available.”</li>
                  <li style="color: white;">If you cannot see this page:
                    <div>
                      <p style="margin-left: 6%; color: white;">1. Check your network connection</p>
                      <p style="margin-left: 6%; color: white;">2. Try it on a larger device (tablets should be at least 8 inches)</p>
                      <p style="margin-left: 6%; color: white;">3. Update your browser or try a different one (BidWeb works on the latest versions of Chrome, Edge, Firefox, Internet Explorer, or Safari)</p>
                    </div>
                  </li>
                </div>
  
                <mat-divider style="margin: 10%;"></mat-divider>
  
                <div>
                  <h3 style="font-weight: bold; color: black;">Please remember that the earliest you can change your BidWeb password is 12 PM on the day the pick opens for your Area.</h3>
                </div>
  
            </mat-expansion-panel>
          </div>
    <!--This is start of Panel 2-->
          <div>
            <mat-expansion-panel class="panel2">
              <mat-expansion-panel-header>
                <mat-panel-title style="color: white; font-size: larger;">
                  BidWeb Resources and Training
                </mat-panel-title>
              </mat-expansion-panel-header>
  
              <div>
                <div style="display: grid; grid-template-rows: auto; grid-template-columns: auto;">
                  <a mat-raised-button style="margin-bottom: 2%; margin-top: 2%;" href="https://youtu.be/_4ZNudz-ztA" target="_blank">Video: What is BidWeb?</a>
                  <a mat-raised-button style="margin-bottom: 2%;" href="https://www.youtube.com/watch?v=KG6dR1GIvtw" target="_blank">Video: How to log into BidWeb</a>
                  <a mat-raised-button style="margin-bottom: 2%;" href="https://www.youtube.com/watch?v=CMPKLTH1xYU&feature=youtu.be" target="_blank">Video: BidWeb Refresher</a>
                  <a mat-raised-button style="margin-bottom: 2%;" href="https://massdot.box.com/s/p09ne42g0hkl2whazylaveoh0wd3pfws" target="_blank">Pamplet: BidWeb Refresher</a>
                  <a mat-raised-button style="margin-bottom: 2%;" href="http://mbta.qualtrics.com/jfe/form/SV_9HPzHjcdSOEsBJb" target="_blank">BidWeb Pick Survey</a>
                </div>
              </div>
  
              <mat-divider style="margin-top: 10%;"></mat-divider>
                <div>
                  <div>
                    <h2 style="font-weight: bold; margin-top: 10%; color:black;">Cabot and Quincy Operators are encouraged to take the BidWeb training on the training website, Cornerstone.</h2>
                  </div>
  
                  <div style="display: grid; grid-template-rows: auto; grid-template-columns: auto;">
                    <a mat-raised-button style="text-decoration: none; margin-bottom: 2%;" href="https://massdot.csod.com/client/massdot/default.aspx" target="_blank">BidWeb Training Website</a>
                    <a mat-raised-button style="text-decoration: none; margin-bottom: 2%;" href="https://www.youtube.com/watch?v=9zKho3kc04A" target="_blank">Video: How to use Training Website</a>
                    <a mat-raised-button style="text-decoration: none; margin-bottom: 2%;" href="https://massdot.box.com/s/4fpiezhnn5k80q4t7cwca8shh33kvi9m" target="_blank">Pamplet: How to use Training Website</a>
                  </div>
  
                  <mat-divider style="margin-top: 10%;"></mat-divider>
  
                  <div style="margin-top: 2%; display: grid; grid-template-rows: auto; grid-template-columns: auto;">
                    <h3 style="margin-bottom: 0; font-weight: bold; margin-top: 10%; color: black">For Help With Training:</h3>
                      <a mat-raised-button style="text-decoration: none; color: black; margin-bottom: 2%;" href="tel:617-222-6246" target="_blank">Call 617-222-6246</a>
                      <a mat-raised-button style="text-decoration: none; color: black;" href="MassDOTUniversity@dot.state.ma.us" target="_blank">Email Cornerstone Help Desk</a>
                  </div>
                </div>
  
            </mat-expansion-panel>
          </div>
  
    <!--This is start of Panel 3-->
          <div>
            <mat-expansion-panel class="panel3">
              <mat-expansion-panel-header>
                <mat-panel-title style="color: white; font-size: larger;">
                  BidWeb for Cabot and Quincy
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <p style="font-weight: bold;">For the Summer 2021 Pick, BidWeb will be introduced to all Cabot and Quincy operators.</p>
                <a style="margin-top: 5%;" mat-raised-button href="https://massdot.box.com/s/ohthtx399v3lbyap050j98itsxth6ghr" target="_blank">View Special Order</a>
                <div style="margin-top: 10%;">
                  <h3 style="font-weight: bold; margin-bottom: 0;">New to BidWeb?</h3>
                  <p style="margin: 0;">See the resources and training section on this page to learn more.</p>
                </div>
                <a style="margin-top: 1%;" mat-raised-button href="https://www.youtube.com/watch?v=_4ZNudz-ztA&feature=youtu.be">Watch the What is BidWeb? video</a>
              </div>
              <div>
                <h2 style="font-weight: bold; margin-top: 10%;">Pick Eligibility Timeline</h2>
                <p>To participate in the pick, you must be on the active duty roster and physically qualified by 9AM on the date the pick begins in your classification.</p>
                <p style="font-weight: bold;">Attention BidWeb Areas: Please remember that the earliest you can log into BidWeb and change your password is 12 PM on the day the pick opens for your Area, listed below. The first distribution will start two days later.</p>
                <li>5/4 Cabot</li>
                <li>5/7 Green Line</li>
                <li>5/18 Bennet</li>
                <li>5/20 Arborway and Charlestown</li>
                <li>5/21 Southampton</li>
                <li>5/24 Lynn</li>
                <li>5/26 Red Line</li>
                <li>5/27 Quincy, Orange Line and Blue Line</li>
              </div>
            </mat-expansion-panel>
          </div>
        </div>

  <div class="sidecontent">

    <mat-card class="covidinfo">
      <div style="padding: .5%;">
        <h1 style="font-size: xx-large; font-weight: bolder;">Safety Information</h1>
        <h3 style="font-weight: bold;">COVID Vaccine </h3>
        <p>Interested in the COVID vaccine? Use the Massachusetts VaxFinder to search for appointments at pharmacies, health care providers, and other community locations.</p>
        <a mat-raised-button color="customcolor" href="https://vaxfinder.mass.gov/" target="_blank">Search For Vaccine Appointments</a>
      </div>
      <mat-divider></mat-divider>
      <div style="padding: .5%;">
        <h3 style="font-weight: bold;">Emergency Contact Information</h3>
        <p>Operators and Motorpersons, please update your emergency contact information in HRCMS. Please visit <a style="text-decoration: none; font-weight: bold; color: #3983bd;" href="https://www.mbta.com/hr" target="_blank">mbta.com/hr</a> and click on <a style="text-decoration: none; font-weight: bold; color: #3983bd;" href="https://www.mbta.com/hr" target="_blank">Guide to Updating Your Contact Information</a> under the quick links section.</p>
      </div>
      <mat-divider></mat-divider>
      <div style="padding: .5%;">
        <h3 style="font-weight: bold;">Report a Saftey Issue</h3>
      <p>Phone: <a style="font-weight: bold; color: #3983bd;" href="tel:617-222-5135" target="_blank">617-222-5135</a></p>
      <p>Email: <a style="text-decoration: none; font-weight: bold; color: #3983bd;" href="safetynotification@mbta.com" target="_blank">safetynotification@mbta.com</a></p>
      </div>
    </mat-card>
  </div>

  <mat-card class="otherinfo" style="margin-top: 2%; background-color: white;">
    <iframe width="502" height="283" src="https://www.youtube.com/embed/upVU4zM5va0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="otherinfowriting" style="margin-top: 5%;">
      <p style="font-size: larger; font-weight: 600;">We are taking many measures to ensure the safety of all employees during the Summer 2021 Pick.</p>
      <p style="font-size: larger; font-weight: 600;">To ensure social distancing, the pick will be done remotely in BidWeb or over the phone with your pick official as follows:</p>
      <li style="font-size: larger;">Work Pick (Bus and Rail) - BidWeb</li>
      <li style="font-size: larger;">Vacation Relief (Bus and Rail) - BidWeb </li>
      <li style="font-size: larger;">Vacation Pick (Bus and Rail) - With Pick Official</li>
    </div>
  </mat-card>

    <div class="bottomcontent">
      <mat-card style="margin-top: 2%; background-color: white;">
        <div class="grid2" style="background-color: white;">
          <div class="faqs" style="background-color: white;">
            <h1 style="font-weight: bolder;">Frequently Asked Questions</h1>
            <mat-accordion>
              <mat-expansion-panel class="faqpanel">
                <mat-expansion-panel-header style="font-weight: bold;">How do I find my pick or cutoff time?</mat-expansion-panel-header>
                <mat-panel-description>Pick times and cut off times will be posted at the garage as usual. In the interest of everyone’s safety, you can call your Superintendent's Office, your Barn Captain, your Union Delegate, and your Pick Official for this information, instead. Cut off times for BidWeb Areas can also be found in BidWeb when the site opens.</mat-panel-description>
              </mat-expansion-panel>

              <mat-expansion-panel class="faqpanel">
                <mat-expansion-panel-header style="font-weight: bold;">How will social distancing work during the pick?</mat-expansion-panel-header>
                <mat-panel-description>
                  <div>
                    <p style="margin-bottom: 2%;">For the Summer 2021 Pick, we are taking many measures to ensure the safety of all employees:</p>
                    <li>All pick materials, including Timetables and Rosters, will be posted in garages, and are available on this webpage.</li>
                    <li>All employees can pick Vacation over the phone. Area pick room phone numbers are available on this webpage.</li>
                    <li>When using BidWeb, please pick from home and only use the kiosks at the garage as a last resort.</li>
                    <li>If you have to go into the Pick Rooms, please use PPE (provided at all locations). Remember to respect social distancing and refrain from touching posted materials, or sharing pens/pencils.</li>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel>

              <mat-expansion-panel class="faqpanel">
                <mat-expansion-panel-header style="font-weight: bold;">Will the Summer 2021 Pick Include a Special Pick?</mat-expansion-panel-header>
                <mat-panel-description>There will be no Special Pick in the Summer 2021 Pick.</mat-panel-description>
              </mat-expansion-panel>

              <mat-expansion-panel class="faqpanel">
                <mat-expansion-panel-header style="font-weight: bold;">When is the first time I can log into BidWeb and change my password?</mat-expansion-panel-header>
                <mat-panel-description>
                  <div>
                    <p style="margin-bottom: 2%;">The earliest that Operators and Motorpersons can log into BidWeb and change their password is 12 PM on the day their Area's pick opens.</p>
                    <p>For information on when your Area's pick opens, please visit the <a style="text-decoration: none; font-weight: bold;" href="https://www.mbta.com/org/pick-information#timeline" target="_blank">Pick Eligibility Timeline</a> section above.</p>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel>

              <mat-expansion-panel class="faqpanel">
                <mat-expansion-panel-header style="font-weight: bold;">How do I view Emergency Work for this Pick?</mat-expansion-panel-header>
                <mat-panel-description><a style="text-decoration: underline; font-weight: bold;" href="https://massdot.box.com/s/e4nohs2ki1imm7hlr4h3j5fibkk61f63" target="_blank">View Emergency Schedule information here</a></mat-panel-description>
              </mat-expansion-panel>

              <mat-expansion-panel class="faqpanel">
                <mat-expansion-panel-header style="font-weight: bold;">How do I use BidWeb to find work with specific days off?</mat-expansion-panel-header>
                <mat-panel-description>
                  <div>
                    <p>There are 3 ways to find work with specific days off:</p>
                    <ol>
                      <li>
                        <p style="font-weight: bold;">Scrolling:</p>
                        <p>As in roster sheets, positions in BidWeb are organized by Days Off. The list of positions starts with SAT/SUN off, and continues through SUN/MON, MON/TUES, (etc.) as you scroll down.</p>
                      </li>
                      <li>
                        <div>
                          <p style="font-weight: bold;">Filtering:</p>
                          <ul>
                            <li>Click “Select Filter”</li>
                            <li>Click the filter you wish to use.</li>
                            <li>Click Apply. The work will now be filtered</li>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <div>
                          <p style="font-weight: bold;">Sorting:</p>
                          <p>Sorting lets you order the work you are viewing by a criteria. </p>
                          <ul>
                            <li>Click the “X” next to Roster and Position.</li>
                            <li>Click Select Sort Criteria, and click the day you want to see at the top.</li>
                            <li>Click the Triangles on each day so that they face downward, and click Apply.</li>
                          </ul>
                        </div>
                      </li>
                    </ol>
                    <p style="margin-top: 2%;">See <a style="text-decoration: none; font-weight: bold;" href="https://massdot.box.com/s/p09ne42g0hkl2whazylaveoh0wd3pfws" target="_blank">BidWeb Refresher Guide</a> for more information.</p>
                    <p style="margin-top: 2%;">For a live demonstration, please see Module 4 of the BidWeb Training.</p>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel>

              <mat-expansion-panel class="faqpanel">
                <mat-expansion-panel-header style="font-weight: bold;">How many preferences should I enter in BidWeb?</mat-expansion-panel-header>
                <mat-panel-description>
                  <div>
                    <p>You can view roster positions and enter preferences in Bidweb anytime after the pick starts. The Rank Among Remaining number will show you how many people ahead of you have not picked at any time during the pick.</p>
                    <p style="margin-top: 2%;">About 11 hours prior to your cut-off time, work for the prior group would have been distributed and you will be able to see the most up-to-date available choices. It is recommended that you finalize your preferences then.</p>
                    <p style="margin-top: 2%; font-weight: bold;">Operators and Motorpersons should enter as many preferences as their rank among remaining.</p>
                    <p style="margin-top: 2%;">Note: The rank among remaining will match the Rank in group during the 11 hours Finalization window.</p>
                    <p style="margin-top: 2%;">For more information, please see Module 4 of the BidWeb Training, or the BidWeb Refresher Guide.</p>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel>

              <mat-expansion-panel class="faqpanel">
                <mat-expansion-panel-header style="font-weight: bold;">What does it mean when a roster position is "No Longer Available" in BidWeb?</mat-expansion-panel-header>
                <mat-panel-description>
                  <div>
                    <p>The words “No Longer Available” will appear if a position within your Preferred Work Section was already picked by a previous operator. You must choose another preference to replace it from the Available Work Section.</p>
                    <p style="margin-top: 2%;">Please note that this only occurs within the Preferred Work Section. The Available Work section only includes work that is available: roster positions will disappear as they are picked.</p>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel>

              <mat-expansion-panel class="faqpanel">
                <mat-expansion-panel-header style="font-weight: bold;">How can I get a printed copy of my awarded work in BidWeb?</mat-expansion-panel-header>
                <mat-panel-description>
                  <p>For a printed copy of your awarded work, please see your Area’s Pick Official.</p>
                </mat-panel-description>
              </mat-expansion-panel>

              <mat-expansion-panel class="faqpanel">
                <mat-expansion-panel-header style="font-weight: bold;">How do I know where I am on the list?</mat-expansion-panel-header>
                <mat-panel-description>
                  <p>If you are awarded a list spot, please contact your Pick Official for information on your position.</p>
                </mat-panel-description>
              </mat-expansion-panel>

              <mat-expansion-panel class="faqpanel">
                <mat-expansion-panel-header style="font-weight: bold;">How do I pick Vacation and Drop My Rating?</mat-expansion-panel-header>
                <mat-panel-description>
                  <p>To pick Vacation or to drop your rating, please contact your Pick Official.</p>
                </mat-panel-description>
              </mat-expansion-panel>

              <mat-expansion-panel class="faqpanel">
                <mat-expansion-panel-header style="font-weight: bold;">How do I provide my emergency contact information to the MBTA?</mat-expansion-panel-header>
                <mat-panel-description>
                  <div>
                    <p>Update your emergency contact information in HRCMS. For instructions on how to do so, visit <a style="text-decoration: none; font-weight: bold;" href="https://www.mbta.com/hr" target="_blank">mbta.com/hr</a> where you will find instructions under the quick links section— <a style="text-decoration: none; font-weight: bold;" href="https://massdot.app.box.com/s/3bzli0lh7nofyya28vbo0p05nkbfo4a6" target="_blank">Guide to Updating Your Contact Information</a>.</p>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel>

              <mat-expansion-panel class="faqpanel">
                <mat-expansion-panel-header style="font-weight: bold;">How do I get the automated text messages/emails and robo calls?</mat-expansion-panel-header>
                <mat-panel-description>
                  <p>Update your emergency contact information in HRCMS. For instructions on how to do so, visit <a style="text-decoration: none; font-weight: bold;" href="https://www.mbta.com/hr" target="_blank">mbta.com/hr</a> where you will find instructions under the quick links section— <a style="text-decoration: none; font-weight: bold;" href="https://massdot.app.box.com/s/3bzli0lh7nofyya28vbo0p05nkbfo4a6" target="_blank">Guide to Updating Your Contact Information</a>.</p>
                </mat-panel-description>
              </mat-expansion-panel>

            </mat-accordion>
          </div>

          <div class="moreresources" style="background-color: white">
            <div>
              <h1 style="font-weight: bolder;">Pick Room Phone List</h1>
              <table class="picknumbertable">
                <tr style="background-color:#687864;">
                  <th>Area</th>
                  <th>Locations/Contacts</th>
                  <th>Phone</th>
                </tr>
                <tr>
                  <th>123</th>
                  <th>Albany/Cabot</th>
                  <th>617-222-5955</th>
                </tr>
                <tr>
                  <th>122</th>
                  <th>Arborway</th>
                  <th>617-222-5812</th>
                </tr>
                <tr>
                  <th>128</th>
                  <th>Quincy</th>
                  <th>617-222-2040</th>
                </tr>
                <tr>
                  <th>138</th>
                  <th>Southampton</th>
                  <th>617-222-2433</th>
                </tr>
                <tr>
                  <th>125</th>
                  <th>Bennet/North Cambridge</th>
                  <th>617-222-5570</th>
                </tr>
                <tr>
                  <th>126</th>
                  <th>Fellsway/Charlestown</th>
                  <th>617-222-5282</th>
                </tr>
                <tr>
                  <th>129</th>
                  <th>Lynn</th>
                  <th>617-222-6884</th>
                </tr>
                <tr>
                  <th>112</th>
                  <th>Orange Line</th>
                  <th>617-222-4464</th>
                </tr>
                <tr>
                  <th>113</th>
                  <th>Redline</th>
                  <th>617-222-5389</th>
                </tr>
                <tr>
                  <th>114</th>
                  <th>Blue Line</th>
                  <th>617-222-3225</th>
                </tr>
                <tr>
                  <th>132</th>
                  <th>Green Line</th>
                  <th>617-222-6799</th>
                </tr>
                <tr>
                  <th>All</th>
                  <th>589 Union</th>
                  <th>617-542-8212</th>
                </tr>
              </table>
            </div>
            <div style="margin-top: 4.5%;">
              <h1 style="font-weight: bolder;">More Resources</h1>
              <mat-list style="background-color: white;">
                <mat-list-item> <a style="text-decoration: none; color: black;font-weight: bold;" href="https://www.mbta.com/covidvaccine" target="_blank">Covid Vaccine Pre-Registration</a><mat-divider></mat-divider></mat-list-item> 
                <mat-list-item> <a style="text-decoration: none; color: black;font-weight: bold;" href="https://massdot.box.com/s/e4nohs2ki1imm7hlr4h3j5fibkk61f63" target="_blank">Rosters, Timetables, Emergency Schedules, and other documents</a><mat-divider></mat-divider></mat-list-item>
                <mat-list-item> <a style="text-decoration: none; color: black;font-weight: bold;" href="https://massdot.box.com/s/ohthtx399v3lbyap050j98itsxth6ghr" target="_blank">Special Order</a><mat-divider></mat-divider></mat-list-item>
                <mat-list-item> <a style="text-decoration: none; color: black;font-weight: bold;" href="https://massdot.app.box.com/s/3bzli0lh7nofyya28vbo0p05nkbfo4a6" target="_blank">Guide to Updating Your Contact Information</a><mat-divider></mat-divider></mat-list-item>
                <mat-list-item> <a style="text-decoration: none; color: black;font-weight: bold;" href="https://massdot.box.com/s/1zg8s158ak3yxf1fiastnqzus62wuo4w" target="_blank">Conflict of Interest – Complete Your Acknowledgement Here</a><mat-divider></mat-divider></mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

  

</body>

</HTML>